Repository eclipse-edc/IdentityHub, pull requests merged in 2024-12, with the labels that each got.

#496 build: fix compilation
  core/presentation-api/build.gradle.kts
  e2e-tests/api-tests/build.gradle.kts
  e2e-tests/api-tests/src/test/java/org/eclipse/edc/identityhub/tests/fixtures/IdentityHubEndToEndExtension.java
  extensions/api/identity-api/api-configuration/build.gradle.kts
  extensions/api/identity-api/did-api/build.gradle.kts
  extensions/api/identity-api/participant-context-api/build.gradle.kts
  extensions/api/identityhub-api-authentication/build.gradle.kts
  extensions/api/identityhub-api-authorization/build.gradle.kts
  extensions/store/sql/identity-hub-credentials-store-sql/build.gradle.kts
  extensions/store/sql/identity-hub-did-store-sql/build.gradle.kts
  extensions/store/sql/identity-hub-keypair-store-sql/build.gradle.kts
  extensions/store/sql/identity-hub-participantcontext-store-sql/build.gradle.kts
  gradle/libs.versions.toml
Labels: build

#498 refactor: introduce record to represent create participant response
  core/identity-hub-participants/src/main/java/org/eclipse/edc/identityhub/participantcontext/ParticipantContextServiceImpl.java
  core/identity-hub-participants/src/test/java/org/eclipse/edc/identityhub/participantcontext/ParticipantContextServiceImplTest.java
  e2e-tests/api-tests/src/test/java/org/eclipse/edc/identityhub/tests/fixtures/IdentityHubEndToEndTestContext.java
  e2e-tests/api-tests/src/test/java/org/eclipse/edc/identityhub/tests/fixtures/PostgresSqlService.java
  extensions/api/identity-api/api-configuration/src/main/resources/identity-api-version.json
  extensions/api/identity-api/participant-context-api/src/main/java/org/eclipse/edc/identityhub/api/participantcontext/v1/unstable/ParticipantContextApi.java
  extensions/api/identity-api/participant-context-api/src/main/java/org/eclipse/edc/identityhub/api/participantcontext/v1/unstable/ParticipantContextApiController.java
  extensions/api/identity-api/participant-context-api/src/test/java/org/eclipse/edc/identityhub/api/participantcontext/v1/unstable/ParticipantContextApiControllerTest.java
  spi/participant-context-spi/src/main/java/org/eclipse/edc/identityhub/spi/participantcontext/ParticipantContextService.java
  spi/participant-context-spi/src/main/java/org/eclipse/edc/identityhub/spi/participantcontext/model/CreateParticipantContextResponse.java
Labels: documentation, refactoring, api

#500 build: fix compilation
  extensions/did/local-did-publisher/src/main/java/org/eclipse/edc/identityhub/publisher/did/local/LocalDidPublisherExtension.java
Labels: build

#501 docs: fixed an incorrect port
  README.md
Labels: documentation

#505 build: fix compilation
  core/presentation-api/src/main/java/org/eclipse/edc/identityhub/api/PresentationApiExtension.java
  e2e-tests/api-tests/build.gradle.kts
  extensions/api/identity-api/api-configuration/src/main/java/org/eclipse/edc/identityhub/api/configuration/IdentityApiConfigurationExtension.java
  extensions/did/local-did-publisher/src/main/java/org/eclipse/edc/identityhub/publisher/did/local/LocalDidPublisherExtension.java
Labels: build

#507 build: update shadow plugin group id
  gradle/libs.versions.toml
Labels: build, dependencies
